.pdf-viewer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: inherit;

  &--container {
    width:100%;
    display:flex;    
    height: inherit;
  }

  &--dropzone {
    position: absolute;
    height: 100%;
    width: 80%;
    background-color: transparent;
 
    
  }
}

