.dashboard {
  display: flex ;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &--tile {
    background-color: #1A2027;
    height: 8rem;
    width: 10rem;
    cursor: pointer;
    border-radius: 0.23rem;
    color: #fff;
    margin: 0.5rem;
    font-size: 2rem;
    transition: all 0.3s ease; 
    font-family: 'Roboto';
    &:hover {
      background-color: #2D3748; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
      transform: translateY(-5px); 
    }
  }
}