.home-button {
  background-color: #1A2027;
  border-radius: 50%;
  font-size: 1.7rem;
  padding: 1.3rem; 
  color: #fff;
  cursor: pointer; 
  position:absolute;
  right:0;
  bottom: 0;
  margin: 1rem;
  z-index: 1;
}